BasedOnStyle: Google
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
SpaceAfterCStyleCast: true
IncludeBlocks: Regroup
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
